@import "@sonfootball/ui/globals.css";

@layer base {
  .imgDark {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }

    .imgLight {
      display: none;
    }
    .imgDark {
      display: unset;
    }
  }
}
